
<br><div class="moduleHeader"><center>Register</center></div>
<hr>
<div class="RegisterFormDiv">
      <form name="userForm">
            <div class="row" >
                  <div class="col-md-4 col-md-offset-4">
                        <div layout-gt-sm="row">
                              <md-input-container class="md-block" flex-gt-sm>
                                    <label>First Name</label>
                                    <input ng-model="model.user.firstName">
                              </md-input-container>
                              <md-input-container class="md-block" flex-gt-sm>
                                    <label>Last Name</label>
                                    <input ng-model="model.user.firstName">
                              </md-input-container>
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email Address</label>
                            <input name="useremail" ng-model="user.email" required />
                            <div ng-messages="userForm.useremail.$error">
                              <div ng-message="pattern">###-##-#### - Please enter a valid email.</div>
                            </div>
                      </md-input-container>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                        <div layout-gt-xs="row">
                              <md-input-container class="md-block" flex-gt-xs>
                                    <label>Phone Number</label>
                                   <input name="contactNumber" ng-model="user.contactNumber" ng-pattern="/^[0-9]{10}$/" />
                                   <div ng-messages="userForm.contactNumber.$error">
                                     <div ng-message="pattern">Please enter a valid phone number</div>
                                   </div>
                              </md-input-container>

                              <md-input-container>
                              <label>Enter DOB</label>
                              <md-datepicker ng-model="user.birthday" md-open-on-focus></md-datepicker>
                              </md-input-container>
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Address</label>
                            <input name="useremail" ng-model="user.email" required />
                            <div ng-messages="userForm.useremail.$error">
                              <div ng-message="pattern">###-##-#### - Please enter a valid email.</div>
                            </div>
                      </md-input-container>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                        <div layout="row">
                          <md-input-container flex="50">
                            <label>Pincode</label>
                            <input required name="clientName" ng-model="project.clientName">
                            <div ng-messages="projectForm.clientName.$error">
                              <div ng-message="required">This is required.</div>
                            </div>
                          </md-input-container>

                          <md-input-container flex="50">
                            <label>Gender</label>
                            <md-select name="type" ng-model="project.type" required>
                              <md-option value="Male">Male</md-option>
                              <md-option value="Female">Female</md-option>
                            </md-select>
                          </md-input-container>
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                        <center><md-button class="md-raised md-primary" ng-click="model.confirmReg()">
                          Register
                        </md-button>
                  </center>
                  </div>
            </div>
      </form>
</div>

<div class="remodal" data-remodal-id="RegisterConfirmModal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Confirm Registeration</h1>
  <div class="fingerprintDiv">
        <div class="breadcrumb">Please scan your Right Hand # <i><strong>Index Finger</strong></i></div>
        <md-button class="md-raised md-primary" ng-click="model.scan()">Scan FingerPrint</md-button>
        <center><md-progress-circular ng-show="model.loadingFingerPrint" class="md-hue-2" md-diameter="20px"></md-progress-circular></center>
 </div>

  <br>
  <button data-remodal-action="confirm" ng-show="model.doneStatus" class="remodal-confirm">Done</button>
</div>
