<div layout="row" class="ng-scope">
      <div flex="24.9">
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

                  <md-toolbar class="md-theme-indigo"  md-whiteframe="4">
                    <center><h1 class="md-toolbar-tools" style="margin: auto">Accounts</h1></center>
                  </md-toolbar>

                  <md-content>
                        <md-list flex>
                              <div layout-padding>
                                    <md-autocomplete
                                    md-search-text="model.searchAccount"
                                    md-items="acc in model.accounts | filter:model.accounts"
                                    md-item-text="acc.bank"
                                    md-min-length="0"
                                    placeholder="Search Bank Account Name">
                                    </md-autocomplete>
                              </div>
                              <br>
                              <md-divider ></md-divider>
                              <div class="moduleHeader" style="font-size: 1.3em;" ng-show="model.accounts.length === 0"><br><center>No Accounts</center><hr></div>
                              <md-list-item class="md-3-line" ng-repeat="acc in model.accounts | orderBy: 'bank' | filter: model.searchAccount" ng-click="model.selectAccount(acc)">
                                    <img ng-src="{{model.bankImage}}" class="md-avatar" alt="{{acc.bank}}" />
                                    <div class="md-list-item-text" layout="column">
                                          <h3>{{ acc.bank }}</h3>
                                          <h4>{{ acc.number }}</h4>
                                          <p>Balance :{{ acc.balance | currency:" ₹ " }}</p>
                                    </div>
                                    <md-divider ></md-divider>
                              </md-list-item>
                        </md-list>
                  </md-content>
            </md-sidenav>
      </div>
      <div layout="column" flex>
            <md-toolbar>
                        <div class="md-toolbar-tools"  md-whiteframe="4">
                                <md-button hide-gt-sm class="md-icon-button" aria-label="toggleside" ng-click="model.toggleSideNav()">
                                  <md-icon aria-label="icon" md-svg-icon="./assets/svg/menu.svg"></md-icon>
                                </md-button>

                                <h2 flex>Secure Bank <i><sub><span style="font-size: 0.7em;">Banking made secure!</span></sub></i></h2>

                                <md-fab-speed-dial md-direction="down" class="md-scale md-fab-top-right">
                                      <md-fab-trigger>
                                           <md-button class="md-fab">
                                                 <md-icon md-svg-icon="./assets/svg/menu.svg"></md-icon>
                                           </md-button>
                                      </md-fab-trigger>
                                      <md-fab-actions>
                                            <a href="#!/security/logout">
                                                      <md-button aria-label="Logout" class="md-fab md-raised md-mini">
                                                            <md-icon md-svg-src="./assets/svg/exit.svg" aria-label="Logout"></md-icon>
                                                      </md-button>
                                            </a>
                                      </md-fab-actions>
                                </md-fab-speed-dial>
                        </div>
            </md-toolbar>
            <md-content flex id="content">
                  <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom selected="2">
                        <md-tab label="Profile">
                          <md-content class="md-padding">
                                <div class="profile">
                                      <div class="row">
                                            <div class="col-md-1 col-md-offset-5"><img ng-src="{{model.avatar}}" width="100"></div>
                                      </div>
                                      <div class="row">
                                                <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                                                      <md-card-title>
                                                            <md-card-title-text>
                                                                  <br>
                                                                  <span class="md-headline">&nbsp;&nbsp;&nbsp;
                                                                        <span ng-if="model.user.gender === 'Male'"> MR. </span>
                                                                        <span ng-if="model.user.gender === 'Female'"> MS. </span>
                                                                        {{model.user.firstName | uppercase}} {{model.user.lastName | uppercase}}
                                                                  </span>
                                                                  <br>
                                                                  <md-divider></md-divider>
                                                                  <br>
                                                                  <div class="row">
                                                                        <div class="col-md-2 col-md-offset-1">Email :</div>
                                                                        <div class="col-md-9"><i>{{model.user.email}}</i></div>
                                                                  </div>
                                                                  <br>
                                                                  <div class="row">
                                                                        <div class="col-md-2 col-md-offset-1">Contact :</div>
                                                                        <div class="col-md-9"><i>{{model.user.contact}}</i></div>
                                                                  </div>
                                                                  <br>
                                                                  <div class="row">
                                                                        <div class="col-md-2 col-md-offset-1">Gender :</div>
                                                                        <div class="col-md-9"><i>{{model.user.gender}}</i></div>
                                                                  </div>
                                                                  <br>
                                                                  <div class="row">
                                                                        <div class="col-md-2 col-md-offset-1">Address :</div>
                                                                        <div class="col-md-9"><i>{{model.user.address}}</i></div>
                                                                  </div>
                                                                  <br>
                                                                  <div class="row">
                                                                        <div class="col-md-2 col-md-offset-1">Pincode :</div>
                                                                        <div class="col-md-9"><i>{{model.user.pincode}}</i></div>
                                                                  </div>
                                                                  <br><br>
                                                            </md-card-title-text>
                                                      </md-card-title>
                                                </md-card>
                                      </div>
                                </div>
                          </md-content>
                        </md-tab>
                        <md-tab label="Add Account">
                          <md-content class="md-padding">

                               <br><div class="moduleHeader" style="font-size: 1.5em;"><center>Add a Bank Account to your Profile.</center></div>
                               <hr>
                               <div class="AddAccountDiv">
                                     <form name="accountForm" id="accountForm">
                                           <div class="row" >
                                                 <div class="col-md-6 col-md-offset-3">
                                                       <div layout-gt-sm="row">
                                                             <md-input-container class="md-block" flex-gt-sm>
                                                                   <label>Bank Name</label>
                                                                   <input ng-model="model.account.bankname" required>
                                                             </md-input-container>
                                                       </div>
                                                 </div>
                                           </div>
                                           <div class="row" >
                                                 <div class="col-md-6 col-md-offset-3">
                                                       <div layout-gt-sm="row">
                                                             <md-input-container class="md-block" flex-gt-sm>
                                                                   <label>Account Number</label>
                                                                   <input ng-model="model.account.acc_no" required>
                                                             </md-input-container>
                                                       </div>
                                                 </div>
                                           </div>
                                           <div class="row" >
                                                 <div class="col-md-6 col-md-offset-3">
                                                       <div layout-gt-sm="row">
                                                             <md-input-container class="md-block" flex-gt-sm>
                                                                   <label>IFSC Code</label>
                                                                   <input ng-model="model.account.acc_ifsc" required>
                                                             </md-input-container>
                                                             <md-input-container class="md-block" flex-gt-sm>
                                                                   <label>MICR Code</label>
                                                                   <input ng-model="model.account.acc_micr" required>
                                                             </md-input-container>
                                                       </div>
                                                 </div>
                                           </div>
                                           <div class="row">
                                                 <div class="col-md-6 col-md-offset-3">
                                                       <md-input-container class="md-block" flex-gt-sm>
                                                           <label>Account Name</label>
                                                           <input name="accountname" ng-model="model.account.name" ng-init="model.account.name=model.user.firstName + ' ' + model.user.lastName" required />
                                                           <div ng-messages="accountForm.accountname.$error">
                                                             <div ng-message="required">This is required.</div>
                                                           </div>
                                                     </md-input-container>
                                                 </div>
                                           </div>
                                           <div class="row">
                                                 <div class="col-md-6 col-md-offset-3">
                                                       <div layout-gt-xs="row">
                                                             <md-input-container flex="50">
                                                              <label>Account Type</label>
                                                              <md-select name="accounttype" aria-label="accounttype" ng-model="model.account.type" required>
                                                                <md-option value="Current">Current</md-option>
                                                                <md-option value="Savings">Savings</md-option>
                                                              </md-select>
                                                              <div ng-messages="accountForm.accounttype.$error">
                                                                <div ng-message="required">This is required.</div>
                                                              </div>
                                                            </md-input-container>

                                                            <md-input-container flex="50">
                                                              <label>Account Sub-Type</label>
                                                              <md-select name="accountsubtype" aria-label="accountsubtype" ng-model="model.account.subtype" required>
                                                                <md-option value="Personal">Personal</md-option>
                                                                <md-option value="Joint">Joint</md-option>
                                                                <md-option value="Student">Student</md-option>
                                                                <md-option value="Senior Citizen">Senior Citizen</md-option>
                                                              </md-select>
                                                              <div ng-messages="accountForm.accountsubtype.$error">
                                                                <div ng-message="required">This is required.</div>
                                                              </div>
                                                            </md-input-container>
                                                       </div>
                                                 </div>
                                           </div>
                                           <div class="row" >
                                                 <div class="col-md-6 col-md-offset-3">
                                                       <div layout-gt-sm="row">
                                                             <md-input-container class="md-block" flex-gt-sm>
                                                                   <label>Account PIN</label>
                                                                   <input ng-model="model.account.acc_pin" required>
                                                             </md-input-container>
                                                             <md-input-container class="md-block" flex-gt-sm>
                                                                   <label>Balance</label>
                                                                   <input ng-model="model.account.balance" required>
                                                             </md-input-container>
                                                       </div>
                                                 </div>
                                           </div>

                                           <div class="row">
                                                 <div class="col-md-6 col-md-offset-3">
                                                       <center>
                                                             <md-button class="md-primary md-raised" ng-disabled="accountForm.$invalid" ng-click="model.showConfirm($event)">
                                                                   Add Account!
                                                             </md-button>
                                                       </center>
                                                 </div>
                                           </div>
                                     </form>
                               </div>
                               <br><hr><br>
                          </md-content>
                        </md-tab>
                        <md-tab label="Remove Account">
                          <md-content class="md-padding">
                            <br><div class="moduleHeader" style="font-size: 2em;"><center>Remove Bank Account linked?</center></div>
                            <div class="moduleHeader" style="font-size: 1.5em;" ng-show="model.accounts.length === 0"><br><hr><center>==== No Accounts Found ====</center><hr></div>
                            <div ng-repeat="acc in model.accounts">
                                    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                                          <md-card-title>
                                                <md-card-title-text>
                                                      <span class="md-headline">Bank Name : <i>{{ acc.bank }}</i></span>
                                                      <span class="md-subhead">Account Number : <i>{{acc.number}}</i></span>
                                                </md-card-title-text>
                                          </md-card-title>
                                          <md-card-actions layout="row" layout-align="end center">
                                                <md-button ng-click="model.removeAccount(acc)">Remove</md-button>
                                          </md-card-actions>
                                    </md-card>
                                    <md-divider></md-divider>
                            </div>
                            <br><hr><br>
                          </md-content>
                        </md-tab>

                        <md-tab label="Edit Profile">
                          <md-content class="md-padding">
                            <br><div class="moduleHeader" style="font-size: 2em;"><center>Edit your profile here!</center></div>
                            <div>
                                  <div class="RegisterFormDiv">
                                        <form name="userForm" id="regForm">
                                              <div class="row" >
                                                    <div class="col-md-6 col-md-offset-3">
                                                          <div layout-gt-sm="row">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                      <label>First Name</label>
                                                                      <input ng-model="model.user.firstName">
                                                                </md-input-container>
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                      <label>Last Name</label>
                                                                      <input ng-model="model.user.lastName">
                                                                </md-input-container>
                                                          </div>
                                                    </div>
                                              </div>
                                              <div class="row">
                                                    <div class="col-md-6 col-md-offset-3">
                                                          <md-input-container class="md-block" flex-gt-sm>
                                                              <label>Email Address</label>
                                                              <input name="useremail" ng-model="model.user.email" required />
                                                              <div ng-messages="userForm.useremail.$error">
                                                                <div ng-message="required">This is required.</div>
                                                              </div>
                                                        </md-input-container>
                                                    </div>
                                              </div>
                                              <div class="row">
                                                    <div class="col-md-6 col-md-offset-3">
                                                          <div layout-gt-xs="row">
                                                                <md-input-container class="md-block" flex-gt-xs>
                                                                      <label>Phone Number</label>
                                                                     <input name="contactNumber" ng-model="model.user.contact" required ng-pattern="/^[0-9]{10}$/" />
                                                                </md-input-container>

                                                                <md-input-container>
                                                                      <label>Enter DOB</label>
                                                                      <md-datepicker name="dob" ng-model="model.user.birthday" md-open-on-focus required></md-datepicker>
                                                                </md-input-container>
                                                          </div>
                                                    </div>
                                              </div>
                                              <div class="row">
                                                    <div class="col-md-6 col-md-offset-3">
                                                          <md-input-container class="md-block" flex-gt-sm>
                                                              <label>Address</label>
                                                              <input name="useraddress" ng-model="model.user.address" required />
                                                              <div ng-messages="userForm.useraddress.$error">
                                                                <div ng-message="required">This is required.</div>
                                                              </div>
                                                        </md-input-container>
                                                    </div>
                                              </div>
                                              <div class="row">
                                                    <div class="col-md-6 col-md-offset-3">
                                                          <div layout="row">
                                                            <md-input-container flex="50">
                                                              <label>Pincode</label>
                                                              <input required name="pincode" ng-model="model.user.pincode">
                                                              <div ng-messages="userForm.pincode.$error">
                                                                <div ng-message="required">This is required.</div>
                                                              </div>
                                                            </md-input-container>

                                                            <md-input-container flex="50">
                                                              <label>Gender</label>
                                                              <md-select name="type" aria-label="gender" ng-model="model.user.gender" required>
                                                                <md-option value="Male">Male</md-option>
                                                                <md-option value="Female">Female</md-option>
                                                              </md-select>
                                                              <div ng-messages="userForm.type.$error">
                                                                <div ng-message="required">This is required.</div>
                                                              </div>
                                                            </md-input-container>
                                                          </div>
                                                    </div>
                                              </div>
                                              <div class="row">
                                                    <div class="col-md-6 col-md-offset-3">
                                                          <center>
                                                                <md-button class="md-primary md-raised" ng-disabled="userForm.$invalid" ng-click="model.showConfirm($event)" >
                                                                      Register
                                                                </md-button>
                                                          </center>
                                                    </div>
                                              </div>
                                        </form>
                            </div>
                          </md-content>
                        </md-tab>

                        <md-tab label="Logs">
                          <md-content class="md-padding">
                               <div class="moduleHeader" style="font-size: 1.5em;" ng-show="model.logs.length === 0"><br><hr><center>==== No logs Found ====</center><hr></div>
                            <div ng-show="model.logs.length!=0">
                                    <md-toolbar class="md-table-toolbar md-default">
                                          <div class="md-toolbar-tools">
                                                <div class="moduleHeader" style="font-size: 1.5em;">
                                                      Showing logs for your account.
                                                      <span style="float: right; right: 0;"><md-button ng-click="model.clearLogs($event)">Clear</md-button></span>
                                                </div>
                                          </div>
                                    </md-toolbar>

                                    <md-table-container>
                                          <table md-table  ng-model="selected">
                                                <thead md-head>
                                                      <tr md-row>
                                                            <th md-column>Logs Text</th>
                                                            <th md-column>Timestamp</th>
                                                      </tr>
                                                </thead>
                                                <tbody md-body>
                                                      <tr md-row ng-repeat="log in model.logs | orderBy:'-timestamp'">
                                                            <td md-cell>{{log.log}}</td>
                                                            <td md-cell>{{log.timestamp | date:'medium'}}</td>
                                                      </tr>
                                                </tbody>
                                          </table>
                                    </md-table-container>

                                    <md-table-pagination md-limit="5"  md-limit-options="[5, 10, 15]" md-page="1" md-total="{{model.logs.length}}" md-page-select></md-table-pagination>
                            </div>
                          </md-content>
                        </md-tab>
                      </md-tabs>
            </md-content>
      </div>
</div>

<!-- Account remodal here -->
<div class="remodal" data-remodal-id="accountModal">
      <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Account : {{ model.response.bank }} </h1>
  <hr>
  <div class="jumbotron" style="text-align: left; padding: 10px;">
      <div class="row">
            <div class="col-md-3 col-md-offset-3">Account Name : </div>
            <div class="col-md-6"><b>{{model.response.accountName}}</b></div>
      </div>
      <div class="row">
            <div class="col-md-3 col-md-offset-3">Bank Name : </div>
            <div class="col-md-6"><b>{{model.response.bank}}</b></div>
      </div>
      <div class="row">
            <div class="col-md-3 col-md-offset-3">Account Number : </div>
            <div class="col-md-6"><b>{{model.response.number}}</b></div>
      </div>
      <div class="row">
            <div class="col-md-3 col-md-offset-3">Account Type : </div>
            <div class="col-md-6"><b>{{model.response.type}}</b></div>
      </div>
      <div class="row">
            <div class="col-md-3 col-md-offset-3">Account SubType : </div>
            <div class="col-md-6"><b>{{model.response.subtype}}</b></div>
      </div>
      <div class="row">
            <div class="col-md-3 col-md-offset-3">Account PIN : </div>
            <div class="col-md-6"><b>{{model.response.pin}}</b></div>
      </div>
      <div class="row">
            <div class="col-md-3 col-md-offset-3">Bank IFSC Code : </div>
            <div class="col-md-6"><b>{{model.response.iFSC}}</b></div>
      </div>
      <div class="row">
            <div class="col-md-3 col-md-offset-3">Bank MICR Code : </div>
            <div class="col-md-6"><b>{{model.response.mICR}}</b></div>
      </div>
      <div class="row">
            <div class="col-md-3 col-md-offset-3">Account Balance : </div>
            <div class="col-md-6"><b>{{model.response.balance | currency:" ₹ "}}</b></div>
      </div>
  </div>
  <center><md-progress-circular id="confirmCircular" style='display:none;' class="md-hue-2" md-diameter="20px"></md-progress-circular></center>
  <button data-remodal-action="confirm" class="remodal-confirm">Ok</button>
</div>
