@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.headerText {
      font-size: 3em;
      font-weight: bolder;
      letter-spacing: 0.2em;
      font-family: 'Gloria Hallelujah', cursive;
}
.moduleHeader {
      font-family: 'Shadows Into Light', cursive;
      font-size: 3em;
}

#content {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 5px;
}
